<% if !current_user %>  
    <%= form_for :login ,:url=>{ :action =>"create", :controller =>"login"},:html => {:style=>'float:left;'} do |f| %>
      <%= hidden_field_tag :referer,request.referer %>
      <div class="form-group" >
        <%= f.label :email %>
        <%= f.text_field :email, :required => true, :style => "height: 31px;" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :required => true,:style => "height: 31px;" %>
      </div>
      <div class="form-group">
      <%= submit_tag t(:login),:class=>"btn btn-success" %>
      <%= link_to t('users.remind_password'),remind_password_edit_users_url %>
      </div>
    <% end %>
    <div class="clear"></div>
<% end %>